<div>

    <div class="container row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 row">
            <div class="col-md-6">
                <select class="form-control"
                        ng-model="selectedStorage.selected"
                        ng-options="storage.id as storage.id for storage in storages"
                        ng-change="storageChanged(selectedStorage.selected)">
                </select>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>


    <h2>Images</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveImageModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Image
    </button>





    <div class="modal fade" id="saveImageModal" tabindex="-1" role="dialog" aria-labelledby="myImageLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myImageLabel">Create or edit a Image</h4>
                    </div>



                    <div class="modal-body">
                        <!--<div class="form-group">-->
                            <!--<label>ID</label>-->
                            <!--<input type="text" class="form-control" name="id"-->
                                   <!--ng-model="Image.id" readonly>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="image.id">
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label>Size</label>-->
                            <!--<input type="number" class="form-control"-->
                                   <!--ng-model="image.size">-->
                        <!--</div>-->

                        <div class="alert alert-danger" ng-show="image.error">
                            {{image.error}}
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Id</th>
                    <th>Storage</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images">
                    <!--<td>{{image.id}}</td>-->
                    <td>{{image.id}}</td>
                    <td>{{image.storage}}</td>
                    <td>
                        <!--<button type="submit"-->
                                <!--ng-click="update(image.id)"-->
                                <!--class="btn btn-default">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span> Edit-->
                        <!--</button>-->
                        <button type="submit"
                                ng-click="delete(image.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
