<div>

    <h2>Storages</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveStorageModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Storage
    </button>
    <div class="modal fade" id="saveStorageModal" tabindex="-1" role="dialog" aria-labelledby="myStorageLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myStorageLabel">Create or edit a Storage</h4>
                    </div>
                    <div class="modal-body">
                        <!--<div class="form-group">-->
                            <!--<label>ID</label>-->
                            <!--<input type="text" class="form-control" name="id"-->
                                   <!--ng-model="storage.id" readonly>-->
                        <!--</div>-->

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="storage.id">
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label>Size</label>-->
                            <!--<input type="number" class="form-control"-->
                                   <!--ng-model="storage.size">-->
                        <!--</div>-->

                        <div class="alert alert-danger" ng-show="storage.error">
                            {{storage.error}}
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Name</th>
                    <th>Size</th>
                    <th>Queue size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storage in storages">
                    <!--<td>{{storage.id}}</td>-->
                    <td>{{storage.storageName}}</td>
                    <td>{{storage.size}}</td>
                    <td>{{storage.queueSize}}</td>
                    <td>
                        <!--<button type="submit"-->
                                <!--ng-click="update(storage.id)"-->
                                <!--class="btn btn-default">-->
                            <!--<span class="glyphicon glyphicon-pencil"></span> Edit-->
                        <!--</button>-->
                        <button type="submit"
                                ng-click="delete(storage.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>

                        <!--<button type="submit"-->
                                <!--ng-click="list(storage.id)"-->
                                <!--class="btn btn-default">-->
                            <!--<span class="glyphicon glyphicon-remove-circle"></span> View images-->
                        <!--</button>-->

                        <a class="btn btn-default" href="#/storage/{{storage.storageName}}/image">
                            <span class="glyphicon glyphicon-picture"></span> View images
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
