<div>

    <h2>Storachs</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveStorachModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Storach
    </button>
    <div class="modal fade" id="saveStorachModal" tabindex="-1" role="dialog" aria-labelledby="myStorachLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myStorachLabel">Create or edit a Storach</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="storach.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="storach.name">
                        </div>
                        <div class="form-group">
                            <label>Size</label>
                            <input type="number" class="form-control"
                                   ng-model="storach.size">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="storach in storachs">
                    <td>{{storach.id}}</td>
                    <td>{{storach.name}}</td>
                    <td>{{storach.size}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(storach.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(storach.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
